.btn {
  padding: 8px 24px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background: var(--blue);
}
