<div class="certification section-padding">
  <div class="certification-container container">
    <span class="certification-title">Our Lab Certification</span>
    <div class="certification-line"></div>
    <ul class="certification-list list-reset">
      <li class="certification-list__item">
        <img
          src="img/fda.png"
          alt=""
          class="certification-list__ing"
          width="67"
          height="80"
        />
      </li>
      <li class="certification-list__item">
        <img
          src="img/nelson.png"
          alt=""
          class="certification-list__ing"
          width="126"
          height="80"
        />
      </li>
      <li class="certification-list__item">
        <img
          src="img/cnas.png"
          alt=""
          class="certification-list__ing"
          width="104"
          height="80"
        />
      </li>
    </ul>
  </div>
</div>
