<div id="contact" class="contact">
  <div class="contact-container container">
    <address>
      <ul class="contact-list list-reset">
        <li class="contact-list__item">
          <div class="contact-list__item-box">
            <span class="contact-list__item-title">Address</span>
            <span class="contact-list__item-descr"
              >123 5th Avenue, New York, US</span
            >
          </div>
        </li>
        <div class="contact-line"></div>
        <li class="contact-list__item">
          <div class="contact-list__item-box">
            <span class="contact-list__item-title">Call Us </span>

            <a href="tel:+11234567890" class="contact-list__item-link"
              >+1 123 456 7890</a
            >
          </div>
        </li>
        <div class="contact-line"></div>
        <li class="contact-list__item">
          <div class="contact-list__item-box">
            <span class="contact-list__item-title">Email Us </span>
            <a href="mailto:info@example.com" class="contact-list__item-link"
              >info@example.com</a
            >
          </div>
        </li>
      </ul>
    </address>
  </div>
</div>
