<footer class="footer section-padding">
  <div class="footer-container container">
    <div class="footer-info">
      <a href="#" class="footer-logo"></a>
      <p class="text footer-info__text">
        Our team is led by several chief engineers, composed of a large number
        of researchers absorbed in their work in our comprehensive laboratory,
        which is also a renowned medical equipment testing center in Hong Kong.
      </p>
    </div>
    <nav class="footer-nav">
      <h3 class="footer-nav__title">Company</h3>
      <ul class="footer-nav-list list-reset">
        <li class="footer-nav-list__item">
          <a href="#home" class="footer-nav-list__link">Home</a>
        </li>
        <li class="footer-nav-list__item">
          <a href="#home" class="footer-nav-list__link">About</a>
        </li>
        <li class="footer-nav-list__item">
          <a href="#home" class="footer-nav-list__link">Product</a>
        </li>
        <li class="footer-nav-list__item">
          <a href="#contact" class="footer-nav-list__link">Contact</a>
        </li>
        <li class="footer-nav-list__item">
          <a href="#home" class="footer-nav-list__link">History</a>
        </li>
      </ul>
    </nav>
    <div class="footer-social">
      <h3 class="footer-social__title">Follow Us</h3>
      <ul class="footer-social-list list-reset">
        <li class="footer-social-list__item">
          <a href="" class="footer-social-list__link">Facebook</a>
        </li>

        <li class="footer-social-list__item">
          <a href="" class="footer-social-list__link">Twitter</a>
        </li>

        <li class="footer-social-list__item">
          <a href="" class="footer-social-list__link">Google +</a>
        </li>

        <li class="footer-social-list__item">
          <a href="" class="footer-social-list__link">Youtube</a>
        </li>
        <li class="footer-social-list__item">
          <a href="" class="footer-social-list__link">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">Copyright © 2020 N95</div>
</footer>
