<header class="header">
  <div class="header-container container">
    <a href="#" class="header-logo"> </a>

    <div class="header-wrapper flex" data-menu>
      <nav class="header-nav">
        <ul class="header-nav__list list-reset flex">
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#">Home</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#about">About</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#product">Product</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#contact">Contact</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#history">History</a>
          </li>
        </ul>
      </nav>

      <button class="btn-reset btn header-contact">Contact us</button>
    </div>
    <button
      class="burger"
      aria-label="Відкрити меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
