<div class="hero">
  <div class="hero-container container">
    <div class="hero-wrapper">
      <span class="hero-model text">3M N95 masks</span>
      <h1 class="hero-title">Protective Face Masks</h1>
      <p class="hero-text text">
        We offer the fast delivery wholesale selection of N95 masks and surgical
        masks, featuring FDA-approved quality and 2 – 5 days delivery, our
        wholesale face masks are ideal for influenza or novel coronavirus
        prevention.
      </p>
      <div class="hero-box">
        <button class="hero-btn btn-reset btn">Shop now</button>
        <a href="#" class="hero-link">Learn more</a>
      </div>
    </div>
    <img
      src="img/hero-bg.jpg"
      alt=""
      class="hero-img"
      width="496"
      height="744"
    />
    <ul class="hero-advantages list-reset">
      <li class="hero-advantages-item hero-advantages-item_full">
        <h3 class="hero-advantages-item__title">Full-Service <br />Shipping</h3>
        <p class="hero-advantages-item__text text">
          From picking to custom-crating to domestic and international shipping,
          we handle it all for you.
        </p>
      </li>
      <li class="hero-advantages-item hero-advantages-item_multi">
        <h3 class="hero-advantages-item__title">
          Multi-Point <br />Inspection
        </h3>
        <p class="hero-advantages-item__text text">
          To ensure quality, our team of HTM professionals fully assess and
          evaluate all equipment.
        </p>
      </li>
      <li class="hero-advantages-item hero-advantages-item_professional">
        <h3 class="hero-advantages-item__title">
          Professional <br />Product Support
        </h3>
        <p class="hero-advantages-item__text text">
          If you have any questions about the equipment, our product specialists
          are here to help.
        </p>
      </li>
      <li class="hero-advantages-item hero-advantages-item_secure">
        <h3 class="hero-advantages-item__title">
          Secure and Easy <br />Payment Methods
        </h3>
        <p class="hero-advantages-item__text text">
          Pay your way, whether by credit card, PayPal or the redemption of
          earned credits.
        </p>
      </li>
    </ul>
  </div>
</div>
