<div class="info section-padding">
  <div class="info-container container">
    <div class="info-left">
      <p class="info-left__text text">
        Given the praised reputation and reliable quality within the industry,
        we have also established preliminary business agreements with some
        hospitals, local governments and medical institutions in Guangdong
        Province.
      </p>
    </div>
    <div class="info-right">
      <p class="info-right__text text">
        After years of development, Health Pro has reached stable long-term
        cooperation with many hospitals and medical institutions in Hong Kong.
      </p>
      <p class="info-right__text text">
        We are keenly looking forward to expand our market in Mainland China and
        overseas in the future, as we have strong beliefs in our products.
      </p>
      <div class="info-right-contact">
        <span class="info-right-contact__title">Proudly Made in Hong Kong</span>
        <p class="info-right-contact__text">
          Our factory is located in Hong Kong. Equipped with machines and
          assembly line of the best quality on the market to ensure quality
          control.
        </p>
        <div class="info-right-contact-wrapper">
          <a href="#" class="info-right-contact-wrapper__link">Learn more</a>
          <div class="info-right-contact-wrapper-box">
            <span class="info-right-contact-wrapper-box__title"
              >Contact us</span
            >
            <a
              href="tel:+11234445678"
              class="info-right-contact-wrapper-box__number"
              >+1 123 444 5678</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
