<div class="reasons section-padding">
  <div class="reasons-container container">
    <img
      src="img/reasons.png"
      alt=""
      class="reasons-img"
      width="400"
      height="630"
    />
    <div class="reasons-info">
      <h2 class="reasons-title title">Reasons To Choose Our Products</h2>
      <p class="reasons-text text">
        All products of Health Pro have obtained the certifications issued by
        national specialized agencies and testing laboratories. <br />
        They have also passed the quality inspection of several international
        famous testing institutions. We have absolute confidence that every
        product of Health Pro is a of the top quality.
      </p>
      <ul class="reasons-list list-reset">
        <li class="reasons-list__item">
          <span class="reasons-list__item-title">Industry leader</span>
          <p class="reasons-list__item-text">
            If you have any questions about the equipment, our product
            specialists are here to help, specialists are here.
          </p>
        </li>
        <li class="reasons-list__item">
          <span class="reasons-list__item-title"
            >Innovation 3 led development</span
          >
          <p class="reasons-list__item-text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
        <li class="reasons-list__item">
          <span class="reasons-list__item-title"
            >To create a safer tomorrow for all</span
          >
          <p class="reasons-list__item-text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
        <li class="reasons-list__item">
          <span class="reasons-list__item-title"
            >To protect and to improve living quality for all</span
          >
          <p class="reasons-list__item-text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
