<div class="reviews section-padding">
  <div class="reviews-container container">
    <ul class="reviews-list list-reset">
      <li class="reviews-list__item">
        <div class="reviews-list__item-rating">
          <div class="reviews-list__item-stars"></div>
        </div>
        <p class="reviews-list__item-text">
          "Sit cursus quam sagittis pellentesque iaculis mauris purus tincidunt
          urna ullamcorper viverra aliquet aliquet aliquet donec non molestie
          egestas cursus amet eu facilisi varius libero diam pharetra odio
          pharetra at cras aliquam."
        </p>
        <div class="reviews-list__item-box">
          <span class="reviews-list__item-name">MARIA EVE</span>
          <span class="reviews-list__item-profession">Lawyer</span>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="reviews-list__item-rating">
          <div class="reviews-list__item-stars"></div>
        </div>
        <p class="reviews-list__item-text">
          "Nisl ac massa porttitor adipiscing pretium nec sit turpis in
          adipiscing faucibus quam consectetur pellentesque et mi molestie amet,
          et, platea facilisi malesuada vitae in scelerisque elementum
          vestibulum accumsan at etiam vitae."
        </p>
        <div class="reviews-list__item-box">
          <span class="reviews-list__item-name">LIAM BOWER</span>
          <span class="reviews-list__item-profession">Mechanic</span>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="reviews-list__item-rating">
          <div class="reviews-list__item-stars"></div>
        </div>
        <p class="reviews-list__item-text">
          "Tristique sed odio nunc ut morbi sit urna, vitae, sed pellentesque
          massa, pellentesque lacinia sapien tempor enim netus euismod tincidunt
          varius malesuada ornare morbi lorem suspendisse non posuere penatibus
          tincidunt aliquam lorem."
        </p>
        <div class="reviews-list__item-box">
          <span class="reviews-list__item-name">NICKY</span>
          <span class="reviews-list__item-profession">Dancer</span>
        </div>
      </li>
    </ul>
  </div>
</div>
