// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base

  --font-family: 'Open Sans', sans-serif;
  --second-family: 'Rubik', sans-serif;
  --third-family: 'Roboto', sans-serif;

  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --dark: #0c122d;
  --grey: #575c74;
  --blue: #1b5fc1;
  --accent: #ffb800;
  --light-color: #ffffff;
}
